.icon-menu {
  position: fixed;
  display: inline-block;
  top: 50%;
  left: calc(100% - 50px);
  list-style-type: none;
  padding: 0;
  transform: translateY(-50%);
  min-width: 25rem;
}

.icon-bar {
  display: flex;
  align-items: center;
  transition: transform 0.4s linear;
  width: 15vw;
  & i {
    color: $white;
    text-decoration: none;
    font-size: 20px;
    padding: 15px;
    text-align: left;
  }
  & a {
    color: $white;
    padding: 0 10px;
    font-size: 20px;
  }
  &:hover {
    transform: translateX(calc(-100% + 50px));
  }
  &.twitter {
    background-color: #00aced;
  }

  &.linkedin {
    background-color: #007bb6;
  }

  &.blog {
    background-color: #e17b77;
  }

  &.facebook {
    background-color: #3b5998;
  }

  &.github {
    background-color: #333;
  }
}

@media only screen and (min-width: 320px) {
  .icon-bar {
    display: flex;
    align-items: center;
    transition: transform 0.4s linear;
    width: 80vw;
    & a {
      font-size: 16px;
    }
  }
}
@media only screen and (min-width: 600px) {
  .icon-bar {
    display: flex;
    align-items: center;
    transition: transform 0.4s linear;
    width: 50vw;
    &:hover {
      transform: translateX(calc(-80% + 50px));
    }
  }
}

@media only screen and (min-width: 900px) {
  .icon-bar {
    display: flex;
    align-items: center;
    transition: transform 0.4s linear;
    width: 50vw;
    &:hover {
      transform: translateX(calc(-60% + 50px));
    }
  }
}
@media only screen and (min-width: 1440px) {
  .icon-bar {
    display: flex;
    align-items: center;
    transition: transform 0.4s linear;
    width: 50vw;
    &:hover {
      transform: translateX(calc(-40% + 50px));
    }
  }
}
