.testimonial {
  @include flexcenter();
  position: relative;
  flex-direction: column;
  margin-top: 1.5rem;
  background: $purple;
  width: 90vw;
  height: 100vh;
  border-radius: 3rem 3rem 3rem 3rem;
  box-shadow: 1px 13px 6px 2px rgba(140, 140, 140, 0.56);
  padding-bottom: 1.5rem;
  & > div {
    flex: 1;
  }
  & > .testimonial__content {
    flex: 2;
    border-radius: 3rem 3rem 0px 0px;
    background: $white;
    & p {
      padding: 6rem 3rem;
    }
  }
  &__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__name {
      margin-top: 1.5rem;
    }
    &__website {
      margin-top: 1.5rem;
    }
  }
  &__image {
    margin-top: -100px;
    width: 50%;
  }
}

.rounded-img {
  border: solid 10px $white;
  border-radius: 50%;
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 600px) {
  .testimonial__image {
    margin-top: -7.5rem;
    width: 15rem;
  }
}

@media only screen and (min-width: 900px) {
  .testimonial__image {
    margin-top: -5rem;
    width: 10rem;
  }

  .testimonal__footer__name {
    margin-top: 1rem;
  }
  .testimonal__footer__website {
    margin-top: 1rem;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
